/*---------------------------------------------------------------------------   
    Added selectors for Hero section.(Travel site Slogan,main Logo)
  ---------------------------------------------------------------------------*/
.hero {
    display: flex;
    justify-content: right;
    gap: 8.5rem;
    width: 1280px;
    height: 470px;
    background-color: var(--orange-shade1-color);
}

.hero__slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 4rem;
}

.hero__title {
    font-size: 2.2rem;
    font-weight: bold;
    color: var(--blue-shade1-color);
    width: 31rem;

}

.hero__subtitle {
    font-size: small;
    color: var(--blue-shade1-color);
    width: 31rem;
}

.hero__button {
    background-color: var(--brown-color);
    width: 9.5rem;
    height: 2rem;
    font-size: 0.8rem;
    font-weight: lighter;
    border: none;
    color: var(--white-color);
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 4rem;
}

.hero__logo {
    margin: 3rem 4rem 4rem 4rem;
}

.hero__image {
    height: 350px;
}

/*---------------------------------------------------------------------------- 
    Added selectors for Recommendations section : Display card for each 
    destination(Hawaii,Iceland,Greece)
  ---------------------------------------------------------------------------*/
.recommendations {
    height: 540px;
    width: 1280px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: var(--white-color);
}

.recommendations__title {
    color: var(--blue-shade1-color);
    font-size: 1.3rem;
    font-weight: bold;
    margin-left: 7rem;
    width: fit-content;
}

.recommendations__card-container {
    display: flex;
    justify-content: center;
    align-self: center;
    gap: 2rem;
    padding-bottom: 2rem;
    width: fit-content;
}

.recommendations__card {
    display: inline-flex;
    flex-direction: column;
}

.recommendations__image:hover {
    border: 3px groove var(--brown-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 60%);
}

.recommendations__subtitle {
    color: var(--white-color);
    font-size: 1.3rem;
    font-weight: bold;
    position: relative;
    width: fit-content;
    top: 90%;
    left: 60%;
}

.recommendations__image {
    background-size: cover;
    background-position: center;
    width: 250px;
    height: 370px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 20%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 20%);
}